# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Debugging/Release build folders
Debug/
Release/
build/

# Eclipse / STM32CubeIDE specific files
.settings/
.metadata/
*.launch
*.map

# OS specific files
.DS_Store
Thumbs.db